[submodule "nightfall"]
	path = themes/nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
[submodule "themes/themes/lotusdocs"]
	path = themes/themes/lotusdocs
	url = https://github.com/colinwilson/lotusdocs
[submodule "themes/lotusdocs"]
	path = themes/lotusdocs
	url = https://github.com/colinwilson/lotusdocs
